<h1>PTO Accrual Calculator</h1>

<div class="row">
    <div class="col-md-8">
        <table class="table">
            <thead>
            <tr>
                <td><strong>Date</strong></td>
                <td><strong>Used</strong></td>
                <td><strong>Accrued</strong></td>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let row of rows">
                <td *ngIf="row.isStarting">Starting Accrural</td>
                <td *ngIf="!row.isStarting">{{row.accrualDate.toDateString()}}</td>
                <td>{{row.hoursUsed}}</td>
                <td>{{row.currentAccrual}}</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-4">
        <h3 style="margin-top: 0;padding-top: 0;">Configuration</h3>
        <form (ngSubmit)="run()" #configForm="ngForm">
            <div class="input-group input-group-md">
                <label for="starting-hours" class="label label-info">Starting Hours</label>
                <input type="number" class="form-control" placeholder="Starting Hours" id="starting-hours"
                       name="starting-hours" required
                       [(ngModel)]="model.startingHours"
                       #startingHours="ngModel"/>
                <div [hidden]="startingHours.valid || startingHours.pristine" class="alert alert-danger">
                    Starting Hours is required.
                </div>
            </div>
            <p></p>

            <div class="input-group input-group-md">
                <label for="accrual-rate" class="label label-info">Accrual Rate</label>
                <input type="number" class="form-control" placeholder="Accrual Rate" id="accrual-rate"
                       name="accrual-rate" required
                       [(ngModel)]="model.accrualRate"
                       #accrualRate="ngModel"/>
                <div [hidden]="accrualRate.valid || accrualRate.pristine" class="alert alert-danger">
                    Accrual Rate is required.
                </div>
            </div>
            <p></p>

            <div class="input-group input-group-md">
                <label for="frequency" class="label label-info">Frequency</label>
                <select class="form-control selectpicker"  data-width="100%" id="frequency" name="frequency" required
                        [(ngModel)]="model.frequency"
                        #frequency="ngModel">
                    <option *ngFor="let f of frequencies" [value]="f.value">{{f.display}}</option>
                </select>
            </div>
            <p></p>

            <div class="input-group input-group-md">
                <label for="starting-date" class="label label-info">Starting Date</label>
                <input type="date" class="form-control" placeholder="(mm/dd/yyyy)" id="starting-date"
                       name="starting-date"
                       [(ngModel)]="model.startingDate"
                       #startingDate="ngModel"/>
                <div [hidden]="startingDate.valid || startingDate.pristine" class="alert alert-danger">
                    Starting Date is required.
                </div>
            </div>
            <p></p>

            <div class="input-group input-group-md">
                <label for="ending" class="label label-info">Ending</label>
                <select class="form-control" data-width="fit" id="ending" name="ending" required
                        [(ngModel)]="model.ending"
                        #ending="ngModel">
                    <option *ngFor="let e of endings" [value]="e.value">{{e.display}}</option>
                </select>
            </div>
            <p></p>


            <div class="input-group input-group-md">
                <button class="btn btn-success" name="calculate" [disabled]="!configForm.form.valid">Calculate!</button>
            </div>
            <p></p>

            <pre>
            {{model | json}}
            </pre>
        </form>
    </div>
</div>
